@media only screen and (max-width: 40em) {
	li.product a span.onsale{
	color:#F00;
	display: inline-block;;
background: rgba(0,0,0,0.8);
z-index: 10;
top:1.5rem !important;
right:2.3rem !important;
position:relative;
border-radius:10px;
}
/*.small-block-grid-2*/
ul.products > li{
		border: 1px  solid #F30 !important;
		min-height:310px !important;
		margin:1px !important;
		width:49% !important;
}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.hspace {
	margin-right: 1.5% !important;
	width: 73% !important;
}

	li.product a span.onsale{
	color:#F00;
	display: inline-block;;
background: rgba(0,0,0,0.8);
z-index: 10;
top:2.5rem !important;
right:2.3rem !important;
position:relative;
border-radius:10px;
}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}
@media only screen and (min-width: 40.063em) and (max-width: 90em) {
.hspace {
	margin-right: 1.5% !important;
	width: 73% !important;
}
}
@media only screen and (min-width: 64.063em) {
	/*.large-block-grid-3*/
	ul.products > li{
		border: 1px  solid #F30 !important;
		min-height:300px !important;
		margin:1px !important;
		width:33% !important;

}
}
@media only screen and (min-width: 40.063em) {
	/*.medium-block-grid-3*/
	ul.products > li{
		border: 1px  solid #F30 !important;
		min-height:300px !important;
		margin:1px !important;
		width:32% !important;
}
}


/*fonts*/
@font-face {
	font-family: 'BNazanin';
	src: url('../fonts/BNazanin.eot?#') format('eot'), /* IE6–8 */ url('../fonts/BNazanin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/BNazanin.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'BYekan';
	src: url('../fonts/BYekan.eot?#') format('eot'), /* IE6–8 */ url('../fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/BYekan.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
.BYekanTitr {
	font-family: BYekan;
	font-size: 20px;
}
.BNazaninTitr {
	font-family: BNazanin;
	font-size: 24px;
	font-weight: 400;
}
.BNazaninText {
	font-family: BNazanin;
	font-size: 18px;
	font-weight: 300;
	direction: rtl;
	text-align: justify;
	line-height: 20px;
}
.BNazaninTextSmall {
	font-family: BNazanin;
	font-size: 16px;
	font-weight: 250;
	text-align: center;
	line-height: 18px;
}
/*End Fonts*/
.tabs dd a {
	height: 30px !important
}
.searchbg {
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
}
.searchbox {
	padding: 0px 15px 0px 0px !important;
}
#searchform {
	margin: 0px !important;
}
.marginrl {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding: 0px !important;
}
.vspace {
	margin-top: 10px !important;
}
.mborder {
	border: 3px solid #F30;
	height: 250px;
	margin: 40px;
	padding: 0px;
	text-align: center;
}
.mborder2 {
	border: 3px solid #F30;
	margin-top: 5px;
}
.blockheader {
	background-image: url('../img/blockheader.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 50px;
	padding-right: 10px !important;
	padding-left: 10px !important;
}
.blockheader2 {
	background-image: url('../img/blockheader.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 50px;
}
.signupback {
	background-image: url('../img/signupback.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 5px !important;
}
.signupback input {
	height: 30px;
	padding-bottom: 2px !important;
}
.regformlabel {
	color: #FFF;
}
.regbtn {
	border: none;
	cursor: pointer;
	overflow: hidden;
	float: left;
	color: #FFF;
	margin-bottom: 10px;
	padding-top: 0.3rem !important;
}
.countborder {
	background-image: url('../img/countborder.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 150px !important;
	margin-top: 5px !important;
}
.counth {
	margin-right: 15%;
}
.signuph {
	margin-top: 25px;
	color: #FFF;
	font-size: 1.0rem !important;
}
.swback {
	background-image: url('../img/swback.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 5px !important;
}
.swn {
	padding-right: 35px;
	padding-top: 20px;
}
.swarrow {
	padding-right: 30px;
	font-size: 1.0rem !important;
}
ul.swnul {
	list-style-image: url('../img/lstyle.png');
}
.cnss-social-icon {
	float: left;
	margin-bottom: 10px !important;
}
.footerrow {
	width: 100% !important;
	max-width: 100em;
	background-image: url('../img/footerback.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 250px;
}
.footerrow2 {
	width: 100% !important;
	max-width: 66em !important;
	margin: 0 auto !important;
	min-height: 13em;
}
.footerrow3 {
	width: 100% !important;
	max-width: 66em !important;
	margin: 0 auto !important;
	padding-bottom: 3px !important;
}
h1.widget-title {
	color: #FFF;
	font-size: 1.0rem;
	padding-right: 30px;
}
.blockheadertext {
	text-align: center !important;
	color: #FFF;
	margin-bottom: 25px !important;
}
.cbtn {
	border: 0px none;
	background-image: url('../img/btn_Info.gif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
	height: 32px;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	padding: 2px !important;
	margin-bottom:2px !important;
	width: 44% !important;
	max-width:73px;
	
}
.cbtn-shop-page{
		margin-right: 5px;
}
.cbtn2 {
	border: 0px none;
	background-image: url('../img/btn_cart.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
	width: 52%;
	height: 32px;
	margin-right: 5px;
	margin-bottom:2px !important;
	cursor: pointer;
	max-width:86px;
}
.txtformat1 {
	color: #000 !important;
}
ul.specialproducts li:nth-child(1), ul.specialproducts li:nth-child(2), ul.specialproducts li:nth-child(3), ul.specialproducts li:nth-child(5), ul.specialproducts li:nth-child(6), ul.specialproducts li:nth-child(7), ul.specialproducts li:nth-child(9), ul.specialproducts li:nth-child(10), ul.specialproducts li:nth-child(11) {
	background-image: url('../img/spvline.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 2px 100%;
}
ul.specialproducts li{
	margin-bottom:1px !important;
	padding-bottom:1px !important;
}
.spline {
	display : list-item;
	list-style : url(../img/spline.png) inside;
	filter : alpha(opacity=0);
	margin-left: -10px;
	width : 0;
	margin-top:0rem !important;
}
.pprice {
	margin-bottom: 0px !important;
	color: #F00 !important;
}
.mask {
	width: 950px !important;
	height: 200px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	float: left;
}
ul.images {
	position: absolute;
	top: 0px;
	left: 0px;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
}
ul.images li {
	border: 3px solid #999;
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin: 0px 35px 0px 0px;
	padding: 0px;
	width: 200px;
	height: 180px;
}
ul.images li img {
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 174px;
}
ul.triggers {
	position: absolute;
	top: 310px;
	left: 80px;
	display: none;
}
ul.triggers li {
	float: left;
	margin: 0 5px;
	font: bold 16px arial;
	cursor: pointer;
	background-color: #ccc;
	color: #000;
	padding: 10px;
}
ul.triggers li.selected {
	background-color: red;
	color: #000;
}
.control {
	color: #fff;
	cursor: pointer;
}
.prev {
	z-index: 200;
	margin: 0px !important;
	padding: 0px !important;
	width: 20px !important;
	left: -48% !important;
	top: 40% !important;
	position: relative !important;
}
.next {
	z-index: 200;
	margin: 0px !important;
	padding: 0px !important;
	width: 20px !important;
	right: -48% !important;
	top: -47% !important;
	position: relative !important;
}
.chprev {
	z-index: 200;
	margin: 0px !important;
	padding: 0px !important;
	width: 20px !important;
	left: -48% !important;
	top: 100px !important;
	position: relative !important;
}
.chnext {
	z-index: 200;
	margin: 0px !important;
	padding: 0px !important;
	width: 20px !important;
	right: -48% !important;
	top: -124px !important;
	position: relative !important;
}
/*------------------------------------------------------*/
.nmask {
	height: 266px;
	overflow: hidden;
	margin: 0px !important;
	padding: 0px !important;
}
ul.nimages {
	position: relative;
	width: 100% !important;
}
ul.nimages li {
	position: absolute;
	width: 100% !important;
	list-style: none;
	left: 20px;
}
ul.nimages li img {
	width: 100% !important;
}
ul.ntriggers {
	margin: 0 auto;
}
ul.ntriggers li {
	margin: 0 5px 2px 0;
	font: bold 16px arial;
	cursor: pointer;
	background-color: #ccc;
	color: #000;
	padding: 5px;
}
ul.ntriggers li.nactive {
	background-color: #333;
	color: #000;
}
.ncontrol {
	position: absolute;
	top: 380px;
	color: #fff;
	cursor: pointer;
}
.nprev {
	left: 120px;
}
.nnext {
	left: 180px;
}
.circle, ul.ntriggers li {
	border-radius: 50%;
	display: inline-block;
	background-color: #FFF;
}
.mcolor {
	background-color: #F00 !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
/*------------------------------------------------------*/
.topnav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	width: 960px;
	height: 47px;
	border-radius: 5px;
	overflow: hidden;
}
/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
.topnav li {
	float: right;
	display: block;
	position: relative;
	z-index: 500;
	margin-left: -20px;
}
.topnav li:hover {
}
/* this is the parent menu */
.topnav li a {
	background: url(../img/menu1_r.png);
	background-repeat: no-repeat;
	background-position: right -37px;
	display: block;
	font-size: 9pt;
	font-weight: bold;
	line-height: 15px;
	color: #b71829;
	z-index: 20;
	overflow: hidden;
	padding: 12px 19px 11px 0;
	margin-top: 11px;
}
.topnav li a:hover {
	background-position: right top;
	color: #fff;
}
.topnav li a span {
	padding: 13px 8px 11px 33px;
	background: url(../img/menu1_l.png);
	background-repeat: no-repeat;
	background-position: left -37px;
}
.topnav li a:hover > span {
	background-position: left top;
}
.topnav li .ImageBox {
	float: right;
	width: 100%;
	height: 65px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.topnav li .ImageBox img {
	max-width: 63px;
	max-height: 48px;
}
/* you can make a different style for default selected value */
.topnav a.selected {
	color: #f00;
}
/* submenu, it's hidden by default */
.topnav ul {
	position: absolute;
	right: -84px;
	display: none;
	margin: 0 0 0 0px;
	padding: 0;
	list-style: none;
	background: #42ccb5;
	border: dotted 1px #888;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
.topnav ul li {
	width: 250px;
	float: right;
	background-image: none;
	height: auto;
	border-bottom: dotted 1px #888;
	margin: 0px 5px 0 5px;
}
/* display block will make the link fill the whole area of LI */
.topnav ul a {
	display: block;
	height: 31px;
	padding: 5px 5px 0px 5px;
	color: #888;
	font-weight: bold;
}
.topnav ul a:hover {
	text-decoration: none;
	background-color: #888;
	color: #fff;
}
/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html .topnav ul {
	margin: 0 0 0 0px;
}
/* right menu*/
#navigation {
	padding: 1px;
	background-color: #FFFFFF;
	padding: 10px 0px 10px 0px;
}
#navigation ul {
	margin: 0px;
	padding: 0px;
}
#navigation li {
	list-style: none;
	border-width: 1px;
	z-index: 999;
	width: 95%;
	height: 25px;
}
#navigation > li {
	background-image: url('../img/arrow.png');
	background-position: right center;
	background-repeat: no-repeat;
}
#navigation > li >a {
	background-image: url('../img/rmline.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	font-size: 0.9em !important;
}
#navigation li:last-child {
	border-bottom: 0px;
}
#navigation a {
	display: block;
	text-indent: 10px;
	width: 100%;
	color: #000;
}
#navigation li:hover {
	position: relative;
}
#navigation > li:hover {
	background-color: #CCC;
	border-top: 1px solid black;
}
#navigation ul.children.dropdown > .cat-item:hover {
	background-color: #CCC;
}
#navigation ul.children.dropdown > .cat-item {
	background-image: url('../img/rmline.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}
ul.dropdown {
	display: none;
}
#navigation li:hover .dropdown {
	background: #FFF;
	border: #fff solid;
	border-width: 1px;
	display: block;
	position: absolute;
	right: 100%;
	top: 5px;
	width: 100%;
}
ul.dropdown li {
	border: none;
	float: right;
}
/* //////////// */
/*-------------------------*/
h3 {
	font-size: 1.0rem !important;
}
a {
	color: #006 !important;
}
.post {
min-height: 300px ;
background-color:#FFF !important;
border-color:#FF8306 !important;
}
/**/
.woocommerce-ordering{
	max-width:300px;		
}
div.product span.onsale{
	color:#F00;
	display: inline-block;;
background: rgba(0,0,0,0.8);
z-index: 10;
top:2rem;
right:0.5rem;
position:relative;
border-radius:10px;
}
li.product a span.onsale{
	color:#F00;
	display: inline-block;;
background: rgba(0,0,0,0.8);
z-index: 10;
top:-2.9rem;
right:3rem;
position:relative;
border-radius:10px;
}
.price{
	color:#F00;
}
.amount:after {
    content:"\a";
    white-space: pre;
}
input.qty{
	max-width:86px;
}
.add_to_cart_button,.single_add_to_cart_button{
	border: 0px none;
	background-image: url('../img/btn_cart.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
	width: 52%;
	height: 32px;
	margin-right: 5px;
	margin-bottom:2px !important;
	cursor: pointer;
	max-width:86px;
	    /* Hide the text. */
    text-indent: 400%;
    white-space: nowrap;
    overflow: hidden;
	
}
form.cart:after {
    content:"\a";
    white-space: pre;
}

/* Tabs
-------------------------------------------------------------- */
.tabs dd > a {
    padding: 0.1rem 2rem;
}



